.vscode
dist
build
*.egg-info/
*.egg
MANIFEST

.ipynb_checkpoints
*.pyc
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.tv_datafeed
exported_files
crypto_watch.log
.crypto_watch_state.json
